In [2]:
import pandas as pd 
import datetime as DT
import numpy as np
import os

In [2]:
weekends = pd.read_csv("weekends.csv")

In [3]:
weekends.head()

,Unnamed: 0.1,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,...,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,location
0,0,0,319.640053,Private room,False,True,2.0,False,0,1,...,1,4.763360,0.852117,110.906123,5.871971,136.982208,11.941560,4.84639,52.34137,Amsterdam
1,1,1,347.995219,Private room,False,True,2.0,False,0,1,...,1,5.748310,3.651591,75.275937,3.985516,95.386468,8.315410,4.97512,52.36103,Amsterdam
2,2,2,482.975183,Private room,False,True,4.0,False,0,1,...,2,0.384872,0.439852,493.272517,26.116521,875.114817,76.289005,4.89417,52.37663,Amsterdam
3,3,3,485.552926,Private room,False,True,2.0,True,0,0,...,1,0.544723,0.318688,552.849514,29.270850,815.303994,71.074937,4.90051,52.37508,Amsterdam
4,4,4,2771.541724,Entire home/apt,False,False,4.0,True,0,0,...,3,1.686798,1.458399,208.809162,11.055489,272.315202,23.739349,4.88467,52.38749,Amsterdam

In [4]:
weekends.dropna()

,Unnamed: 0.1,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,...,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,location
0,0,0,319.640053,Private room,False,True,2.0,False,0,1,...,1,4.763360,0.852117,110.906123,5.871971,136.982208,11.941560,4.84639,52.34137,Amsterdam
1,1,1,347.995219,Private room,False,True,2.0,False,0,1,...,1,5.748310,3.651591,75.275937,3.985516,95.386468,8.315410,4.97512,52.36103,Amsterdam
2,2,2,482.975183,Private room,False,True,4.0,False,0,1,...,2,0.384872,0.439852,493.272517,26.116521,875.114817,76.289005,4.89417,52.37663,Amsterdam
3,3,3,485.552926,Private room,False,True,2.0,True,0,0,...,1,0.544723,0.318688,552.849514,29.270850,815.303994,71.074937,4.90051,52.37508,Amsterdam
4,4,4,2771.541724,Entire home/apt,False,False,4.0,True,0,0,...,3,1.686798,1.458399,208.809162,11.055489,272.315202,23.739349,4.88467,52.38749,Amsterdam
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26202,1794,1794,715.938574,Entire home/apt,False,False,6.0,False,0,1,...,3,0.530181,0.135447,219.402478,15.712158,438.756874,10.604584,16.37940,48.21136,Vienna
26203,1795,1795,304.793960,Entire home/apt,False,False,2.0,False,0,0,...,1,0.810205,0.100839,204.970121,14.678608,342.182813,8.270427,16.38070,48.20296,Vienna
26204,1796,1796,637.168969,Entire home/apt,False,False,2.0,False,0,0,...,1,0.994051,0.202539,169.073402,12.107921,282.296424,6.822996,16.38568,48.20460,Vienna
26205,1797,1797,301.054157,Private room,False,True,2.0,False,0,0,...,1,3.044100,0.287435,109.236574,7.822803,158.563398,3.832416,16.34100,48.19200,Vienna
26206,1798,1798,133.230489,Private room,False,True,4.0,True,1,0,...,1,1.263932,0.480903,150.450381,10.774264,225.247293,5.444140,16.39066,48.20811,Vienna

In [7]:
weekends.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,location
0,0,319.640053,Private room,False,True,2.0,False,0,1,9.0,...,1,4.763360,0.852117,110.906123,5.871971,136.982208,11.941560,4.84639,52.34137,Amsterdam
1,1,347.995219,Private room,False,True,2.0,False,0,1,9.0,...,1,5.748310,3.651591,75.275937,3.985516,95.386468,8.315410,4.97512,52.36103,Amsterdam
2,2,482.975183,Private room,False,True,4.0,False,0,1,9.0,...,2,0.384872,0.439852,493.272517,26.116521,875.114817,76.289005,4.89417,52.37663,Amsterdam
3,3,485.552926,Private room,False,True,2.0,True,0,0,10.0,...,1,0.544723,0.318688,552.849514,29.270850,815.303994,71.074937,4.90051,52.37508,Amsterdam
4,4,2771.541724,Entire home/apt,False,False,4.0,True,0,0,10.0,...,3,1.686798,1.458399,208.809162,11.055489,272.315202,23.739349,4.88467,52.38749,Amsterdam

In [8]:
weekends = weekends.drop('Unnamed: 0', axis=1)

In [9]:
weekends.head()

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,location
0,319.640053,Private room,False,True,2.0,False,0,1,9.0,88.0,1,4.763360,0.852117,110.906123,5.871971,136.982208,11.941560,4.84639,52.34137,Amsterdam
1,347.995219,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748310,3.651591,75.275937,3.985516,95.386468,8.315410,4.97512,52.36103,Amsterdam
2,482.975183,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384872,0.439852,493.272517,26.116521,875.114817,76.289005,4.89417,52.37663,Amsterdam
3,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544723,0.318688,552.849514,29.270850,815.303994,71.074937,4.90051,52.37508,Amsterdam
4,2771.541724,Entire home/apt,False,False,4.0,True,0,0,10.0,100.0,3,1.686798,1.458399,208.809162,11.055489,272.315202,23.739349,4.88467,52.38749,Amsterdam

In [10]:
weekends.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26207 entries, 0 to 26206
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   realSum                     26207 non-null  float64
 1   room_type                   26207 non-null  object
 2   room_shared                 26207 non-null  bool
 3   room_private                26207 non-null  bool
 4   person_capacity             26207 non-null  float64
 5   host_is_superhost           26207 non-null  bool
 6   multi                       26207 non-null  int64
 7   biz                         26207 non-null  int64
 8   cleanliness_rating          26207 non-null  float64
 9   guest_satisfaction_overall  26207 non-null  float64
 10  bedrooms                    26207 non-null  int64
 11  dist                        26207 non-null  float64
 12  metro_dist                  26207 non-null  float64
 13  attr_index                  26207 non-null  float64
 14  attr_index_norm             26207 non-null  float64
 15  rest_index                  26207 non-null  float64
 16  rest_index_norm             26207 non-null  float64
 17  lng                         26207 non-null  float64
 18  lat                         26207 non-null  float64
 19  location                    26207 non-null  object
dtypes: bool(3), float64(12), int64(3), object(2)
memory usage: 3.5+ MB

In [11]:
# Number of room_shared == True
weekends['room_shared'].values.sum()

186

In [13]:
# Number of room_private == True
weekends['room_private'].values.sum()

9367

In [16]:
print(len(weekends[weekends['room_type'] == 'Private room']))

9367

In [17]:
weekends = weekends.drop('room_shared', axis=1)
weekends = weekends.drop('room_private', axis=1)

In [18]:
weekends.head()

,realSum,room_type,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,location
0,319.640053,Private room,2.0,False,0,1,9.0,88.0,1,4.763360,0.852117,110.906123,5.871971,136.982208,11.941560,4.84639,52.34137,Amsterdam
1,347.995219,Private room,2.0,False,0,1,9.0,87.0,1,5.748310,3.651591,75.275937,3.985516,95.386468,8.315410,4.97512,52.36103,Amsterdam
2,482.975183,Private room,4.0,False,0,1,9.0,90.0,2,0.384872,0.439852,493.272517,26.116521,875.114817,76.289005,4.89417,52.37663,Amsterdam
3,485.552926,Private room,2.0,True,0,0,10.0,98.0,1,0.544723,0.318688,552.849514,29.270850,815.303994,71.074937,4.90051,52.37508,Amsterdam
4,2771.541724,Entire home/apt,4.0,True,0,0,10.0,100.0,3,1.686798,1.458399,208.809162,11.055489,272.315202,23.739349,4.88467,52.38749,Amsterdam

In [21]:
print(len(weekends[weekends['multi'] == 1]))

7580

In [23]:
weekends.to_csv('weekends.csv')

In [4]:
weekends = pd.read_csv("./Resources/weekends.csv")
weekdays = pd.read_csv("./Resources/weekdays.csv")

In [5]:
weekends['type'] = 'weekends'
weekdays['type'] = 'weekdays'

In [6]:
weekends.head(5)

,realSum,room_type,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,loc,type
0,319.640053,Private room,2,False,0,1,9,88,1,4.763360,0.852117,110.906123,5.871971,136.982208,11.941560,4.84639,52.34137,Amsterdam,weekends
1,347.995220,Private room,2,False,0,1,9,87,1,5.748310,3.651591,75.275937,3.985516,95.386468,8.315410,4.97512,52.36103,Amsterdam,weekends
2,482.975183,Private room,4,False,0,1,9,90,2,0.384872,0.439852,493.272517,26.116521,875.114817,76.289005,4.89417,52.37663,Amsterdam,weekends
3,485.552926,Private room,2,True,0,0,10,98,1,0.544723,0.318688,552.849514,29.270850,815.303994,71.074937,4.90051,52.37508,Amsterdam,weekends
4,2771.541724,Entire home/apt,4,True,0,0,10,100,3,1.686798,1.458399,208.809162,11.055489,272.315202,23.739349,4.88467,52.38749,Amsterdam,weekends

In [7]:
weekends.to_csv('./Resources/weekends.csv')
weekdays.to_csv('./Resources/weekdays.csv')